@import '../../../styles/settings.scss';

.homePage {
  background-image: url('/images/backgrounds/pexels-matheus-oliveira-10949676.jpg');
  background-size: cover;
  min-height: 100vh;

  header {
    h1,
    p {
      color: $color-text-bright;
    }
  }

  p,
  h1 {
    color: $color-text;
  }
}
